<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcWphAwvx-074Gr-27ACW8K0RPbjozu8M</string>
	<key>GCM_SENDER_ID</key>
	<string>733048323953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>auburn.edu-mzn0069.TaskManager</string>
	<key>PROJECT_ID</key>
	<string>taskmanager-c6c74</string>
	<key>STORAGE_BUCKET</key>
	<string>taskmanager-c6c74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733048323953:ios:fb08e143475d00bd6d40d0</string>
</dict>
</plist>